

html, body {
    height: 100%;
}
.return {
    display: flex;
    flex-direction: row-reverse;
}

#button-return {
    height: 30px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.container-search {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-box {
    width: 400px;
}

.search-term {
  width: 70%;
  border: 3px solid #00B4CC;
  height: 30px;
  border-radius: 5px;

}

.search-button {
  width: 20%;
  height: 30px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

}

.error {
    color: #BC1A30
}