<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyenaCORP Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h2>Css test i chuj</h2>
    <form method="POST">
        <label>Keyword: </label>
        <input name="query" type="text">
        <input type="submit" value="Search">
    </form>
    {% if bad_results %}
        <p>{{ er }}</p>
    {% elif good_results %}
        <p>Results for: {{ good_results }}</p>
    {% endif %}

    {% for image in mylist %}
        <img src="{{url_for( 'static' ,  filename='images/' + image ) }}" alt={{image}} style="width:300px;height:300px;">
    {% endfor %}

</body>
</html>