<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyenaCORP Project</title>
</head>
<body>
    <h1>Mustashearch</h1>
    <form method="POST">
        <p>Enter keyword to search:</p>
        Keyword: <input name="query" type="text"><br>
        Amount: <input name="amount" type="number" min="0"><br>
        <input type="submit" value="Search">
    </form>
    {% if bad_results %}
        <p>{{ er }}</p>
    {% elif good_results %}
        <p>Results for: {{ good_results }}</p>
    {% endif %}

    {% for image in mylist %}
        <img src="{{url_for('static', filename= image ) }}" alt={{image}} style="width:128px;height:128px;">
    {% endfor %}

</body>
</html>