<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyenaCORP Project</title>
</head>
<body>
    <h1>Mustashearch</h1>
    <form method="POST">
        <p>Enter keyword to search:</p>
        <label>Keyword: </label>
        <input name="query" type="text">
        <label>Amount: </label>
        <input name="amount" type="number" min="0">
        <input type="submit" value="Search">
    </form>
    {% if bad_results %}
        <p>{{ er }}</p>
    {% elif good_results %}
        <p>Results for: {{ good_results }}</p>
    {% endif %}

    {% for image in mylist %}
        <img src="{{url_for('static', filename= image ) }}" alt={{image}} style="width:300px;height:300px;">
    {% endfor %}

</body>
</html>